.main {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    width: 100%;
    display: flex;
    position: absolute;
    top: 0;
    align-items: center;
    justify-content: center;
    text-decoration: none;
}

/* .video {
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
} */

.icon {
    text-decoration: none;
    color: #000;
}

.icon {
    width: 32px;
    height: 32px;
    border-radius: 25px;
    background: #fff;
    margin: 20px;
    margin-top: 15px;
    text-align: center;
    font-size: 16px;
    line-height: 32px;
    font-family: 'Oswald', sans-serif;
    overflow: hidden;
    box-shadow: 5px 10px 20px rgba(150, 150, 150, .3);
    transition: all .3s ease-out;
}

.icon:hover {
    width: 150px;
    cursor: url('/2023/images/icons/cursore.png');
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    color: #fff;
}

.icon:hover i {
    color: #fff;
}

.fb:hover {
    background: linear-gradient(120deg, #0165E1, #3b5998);
}

.ig:hover {
    background: radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%, #d6249f 60%, #285AEB 90%);
}

.tg:hover {
    background: linear-gradient(120deg, #0088cc, #33b5e5);
}

.mail:hover {
    background: radial-gradient(circle at 5%, #4285f4, #34a853, #fbbc05, #ea4335);
}

/* responsive */
@media only screen and (min-width: 320px) and (max-width: 991px) {

    /* .main {
        flex-direction: column;
        margin-top: 50%;
        width: fit-content;
    }

    .icon {
        width: 64px;
        height: 64px;
        font-size: 25px;
        line-height: 64px;
        border-radius: 50px;
    } */
    .main {
        margin-top: 70px;
    }
}