// font
@import '@/styles/fonts/Oswald.css';
@import '@/styles/fonts/Montserrat.css';
@import '@/styles/fonts/Advent.css';
@import '@/styles/fonts/NoMoreLies.css';

// bootstrap
@import '@/styles/custom.bootstrap.scss';
//@import "compass/css3";

* {
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}


body {
    font-family: 'NoMoreLies', sans-serif;
}

h1 {
    font-family: 'NoMoreLies', sans-serif;
    color: #E95280;
    -webkit-text-stroke: 1px black;
    font-size: 3.5rem;
}

h2,
h3 {
    font-family: 'NoMoreLies', sans-serif;
    color: #E95280;
    font-size: 3.0rem;
}

h4 {
    color: #E95280;
    font-size: 1.8rem;
}

h6 {
    color: #E95280;
    font-size: 1.4rem;
}

p,
ul,
ol {
    font-family: 'Montserrat', sans-serif;
}

@media (max-width: 768px) {

    h1 {
        color: #E95280;
        font-size: 2.3rem;
    }

    h2,
    h3 {
        color: #E95280;
        font-size: 2rem;
    }

    h4 {
        color: #E95280;
        font-size: 1.5rem;
    }

    h6 {
        color: #E95280;
        font-size: 1.2rem;
    }
}

/* 
.cursor {
    width: 20px;
    height: 20px;
    //border: 1px solid white;
    border-radius: 50%;
    position: absolute;
    pointer-events: none;
    //background-image: url("cursore.png");
}

.cursor::after {
    content: "";
    width: 20px;
    height: 20px;
    position: absolute;
    border: 2px solid blue;
    border-radius: 50%;
    opacity: .5;
    top: -8px;
    left: -8px;
    //background-image: url("cursore.png");
}

@keyframes cursorAnim {
    0% {
        transform: scale(1);
    }

    50% {
        transform: scale(5);
    }

    100% {
        transform: scale(1);
        opacity: 0;
    }
}

.expand {
    animation: cursorAnim .5s forwards;
}
*/

/* ===== Scrollbar CSS ===== */
/* Firefox */
* {
    scrollbar-width: thin;
    scrollbar-color: #000000 #ffffff;
}

/* Chrome, Edge, and Safari */
*::-webkit-scrollbar {
    width: 10px;
}

*::-webkit-scrollbar-track {
    background: #ffffff;
}

*::-webkit-scrollbar-thumb {
    background-color: #000000;
    border-radius: 25px;
    border: 4px solid #ffffff;
}

:root {
    --main-color: #006699;
    --accent-color: #ffcc00;
}

.main-color {
    color: var(--main-color);
}

.accent-color {
    color: var(--accent-color);
}

.content-section {
    padding: 20px;
    margin: 20px 0;
}

@media (max-width: 768px) {
    .content-section {
        padding: 10px;
        margin: 10px 0;
    }
}

.nav-pills .nav-link {
    font-size: 16px;
    color: #999;
    border: 1px solid #ddd;
    border-radius: 0;
}

.nav-pills .nav-link.active {
    background-color: #eee;
    color: #333;
}

.tab-content {
    border: 1px solid #ddd;
    border-top: 0;
    padding: 20px;
}

/* ===== Countdown ===== */

.countdown {

    .bloc-time {
        float: left;
        margin-right: 45px;
        text-align: center;

        &:last-child {
            margin-right: 0;
        }
    }

    @media (max-width: 768px) {
        .bloc-time {
            float: none;
            margin-right: 0;
            margin-bottom: 20px;
        }
    }

    .count-title {
        color: white;
        font-size: 30px;
        stroke: 1px black;
        -webkit-text-stroke: 1px black;
        background-clip: text;
        -webkit-background-clip: text;
        text-shadow: 0 0 8px rgba(0, 0, 0, 0.61);
        text-transform: uppercase;
        font-weight: 600;
        letter-spacing: 5px;
        margin-top: 5px;
        display: block;
    }

    .figure {
        position: relative;
        float: left;
        height: 110px;
        width: 100px;
        margin-right: 10px;
        background-color: #fff;
        border-radius: 8px;
        //@include box-shadow(0 3px 4px 0 rgba(0, 0, 0, .2), inset 2px 4px 0 0 rgba(255, 255, 255, .08));

        &:last-child {
            margin-right: 0;
        }

        >span {
            position: absolute;
            left: 0;
            right: 0;
            margin: auto;
            font: normal 5.94em/107px 'NoMoreLies';
            font-weight: 500;
            color: #de4848;
        }

        .top,
        .bottom-back {
            &:after {
                content: "";
                position: absolute;
                z-index: -1;
                left: 0;
                bottom: 0;
                width: 100%;
                height: 100%;
                border-bottom: 1px solid rgba(0, 0, 0, .1);
            }
        }

        .top {
            z-index: 3;
            background-color: #f7f7f7;
            transform-origin: 50% 100%;
            -webkit-transform-origin: 50% 100%;
            //@include border-top-radius(10px);
            //@include transform(perspective(200px));
        }

        .bottom {
            z-index: 1;

            &:before {
                content: "";
                position: absolute;
                display: block;
                top: 0;
                left: 0;
                width: 100%;
                height: 50%;
                background-color: rgba(0, 0, 0, .02);
            }
        }

        .bottom-back {
            z-index: 2;
            top: 0;
            height: 50%;
            overflow: hidden;
            background-color: #f7f7f7;
            //@include border-top-radius(10px);

            span {
                position: absolute;
                top: 0;
                left: 0;
                right: 0;
                margin: auto;
            }
        }

        .top,
        .top-back {
            height: 50%;
            overflow: hidden;
            //@include backface-visibility(hidden);
        }

        .top-back {
            z-index: 4;
            bottom: 0;
            background-color: #fff;
            -webkit-transform-origin: 50% 0;
            transform-origin: 50% 0;
            //@include transform(perspective(200px) rotateX(180deg));
            //@include border-bottom-radius(10px);

            span {
                position: absolute;
                top: -100%;
                left: 0;
                right: 0;
                margin: auto;
            }
        }
    }
}