.video {
    width: 100%;
    height: 75vh;
    object-fit: cover;
    object-position: top;
    position: relative;
}

.btn {
    display: inline-block;
    padding: 10px 20px;
    background-color: #E95280;
    color: #fff;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: 600;
    //border-radius: 3px;
    margin-bottom: 30px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    transition: all 0.3s ease-in-out;
}

.btn:hover {
    background-color: #fff;
    color: #E95280;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    transform: translateY(-5px);
}

.ExportedImage {
    float: left;
    shape-outside: circle(50%);
    margin-right: 20px;
    transform: scaleX(-1);
}